* {

  --color-1: #FEE8D5;
  --color-2: #3F7929;
  --color-3: #806342;
  --color-4: #1A3815;
  --color-5: #283618;
  --color-6: #6b705c;
}


.App {
  text-align: center;
  font-family: monospace;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: var(--color-1);
  text-align: center;
}

.auth, .list, .detail, .create {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


form { 
  text-align: right;
  margin: 100px;
}

form label {
  display: block;
}

form button {
  margin: 5px;
}
